---
  const response = await fetch('http://localhost:8080/dpm_0.1/en/teaching');
  const data = await response.json();
---


<ul>

{data.data.map(item => (
  <li>
    <div>Id: ${item.id}</div>
    <div>Name: ${item.name}</div>
      <div>Slug: ${item.slug}</div>
      <div>Airticle: ${item.article}</div>
  </li>
))}
</ul>
</div>
